{% extends 'base.html.twig' %}

{% block body %}

	<section class="section">
		<div class="section__header">
			<h1 class="text-md">Modifier
				{{ task.title }}</h1>
		</div>

		<div class="section__content w-100">
			{{ form_start(form, {'attr': {'class': 'form'}}) }}

			<div>
				{{ form_label(form.title) }}
				{{ form_widget(form.title) }}
				<div class="text-error">
					{{ form_errors(form.title) }}
				</div>
			</div>

			<div>
				{{ form_label(form.content) }}
				{{ form_widget(form.content) }}
				<div class="text-error">
					{{ form_errors(form.content) }}
				</div>
			</div>

			<button type="submit" class="button">Modifier</button>

			<div class="flex center">
				<a href="{{ path('task_list') }}" class="button-secondary" name="Liste des tâches">Retour à la liste des tâches</a>
			</div>

			{{ form_end(form) }}
		</div>

	</section>
{% endblock %}
