{% extends 'base.html.twig' %}


{% block body %}
	<section class="section">
		<div class="section__header">
			<h1 class="text-md">Créer un utilisateur</h1>
		</div>

		<div class="section__content w-100">
			{{ form_start(form, {'attr': {'class': 'form'}}) }}

			<div>
				{{ form_label(form.username) }}
				{{ form_widget(form.username) }}
				<div class="text-error">
					{{ form_errors(form.username) }}
				</div>
			</div>

			<div>
				{{ form_label(form.password.first) }}
				{{ form_widget(form.password.first) }}
				<div class="text-error">
					{{ form_errors(form.password.first) }}
				</div>
			</div>

			<div>
				{{ form_label(form.password.second) }}
				{{ form_widget(form.password.second) }}
				<div class="text-error">
					{{ form_errors(form.password.second) }}
				</div>
			</div>

			<div>
				{{ form_label(form.email) }}
				{{ form_widget(form.email) }}
				<div class="text-error">
					{{ form_errors(form.email) }}
				</div>
			</div>

			<div>
				<p class='text-label'>Quel(s) rôle(s) donner à cet utilisateur ?</p>
				{% for role in form.roles %}
					<div class='form-check'>
						{{ form_label(role, null, {'label_attr': {'class': 'form-check-label'}}) }}
						{{ form_widget(role, {'attr': {'class': 'form-check-input'}}) }}
					</div>
				{% endfor %}
			</div>

			<button type="submit" class="button">Ajouter</button>

			<div class="flex center">
				<a href="{{ path('user_list') }}" class="button-secondary">Retour à la liste des utilisateurs</a>
			</div>

			{{ form_end(form) }}
		</div>

	</section>
{% endblock %}
