{% extends 'base.html.twig' %}


{% block body %}
	<section class="section">
		<div class="section__header">
			<h1 class="text-md">Modifier
				{{ user.username }}</h1>
		</div>

		<div class="section__content w-100">
			{{ form_start(form, {'attr': {'class': 'form'}}) }}

			 <div>
				{{ form_label(form.password.first) }}
				{{ form_widget(form.password.first) }}
				<div class="text-error">
					{{ form_errors(form.password.first) }}
				</div>
			</div>

			<div>
				{{ form_label(form.password.second) }}
				{{ form_widget(form.password.second) }}
				<div class="text-error">
					{{ form_errors(form.password.second) }}
				</div>
			</div> 

			<button type="submit" class="button">Modifier</button>

			<div class="flex center">
				<a href="{{ path('user_list') }}" class="button-secondary">Retour à la liste des utilisateurs</a>
			</div>

			 {{ form_end(form) }}
		</div>

	</section>
{% endblock %}
